# --- Node ---
node_modules/
dist/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Python ---
__pycache__/
*.py[cod]
env/
.venv/
venv/
ENV/

# --- Spark ---
spark-warehouse/
.metastore_db/
tmp/
temp/

# --- Docker ---
*.pid
*.tar
*.log
*.bak
*.tmp
.docker/
docker-compose.override.yml
.dockerignore

# --- VSCode ---
.vscode/
.history/

# --- OS ---
.*.swp
.DS_Store
Thumbs.db

# --- Env Files ---
.env
*.env

# --- Draw.io / Diagrams ---
*.drawio.bak

# --- Jupyter (if applicable) ---
.ipynb_checkpoints/

# --- Logs ---
logs/
*.out

# Draw.io temp files
*.drawio.dtmp
*.drawio.bak
*.drawio~*

